.sform {
  height: 200px;
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.sbtn {
  grid-column: 1 / -1;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.form input {
  text-indent: 5px;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 80%;
  border-radius: 3px;
  margin-top: 12px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
